<div class="container">
    <h1>
        <%= title %>
    </h1>
    <% if (messages && messages.length> 0) { %>
        <ul class="notice">
            <% messages.forEach(function(message) { %>
                <li class="<%= message.type %>">
                    <%= message.text %>
                </li>
                <% }) %>
        </ul>
        <% } %>
    
            <!-- Display errors -->
            <% if (errors && errors.length> 0) { %>
                <ul class="notice">
                    <% errors.forEach(function(error) { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
    <p>You're logged in</p>
</div>