<div class="inventory-management-container">
    <h1>Inventory Management</h1>
    <h2>Welcome to the Inventory Management View</h2>
    <!-- Display flash message if available -->
    <% if (messages && messages.length> 0) { %>
        <% messages.forEach(message=> { %>
            <div class="alert alert-<%= message.type %>">
                <%= message.text %>
            </div>
            <% }) %>
                <% } %>
            <!-- Links to trigger add new classification and add new inventory -->
            <div id="link-container">
                <a href="/inv/add-classification">Add New Classification</a>
                <a href="/inv/add-inventory">Add New Inventory</a>
                <a href="inv/pending-items">Review Pending Items</a>
            </div>
            <h2>Manage Inventory</h2>
            <p>Select a classification from the list below to see the items belonging to the classification.</p>
            <!-- Display classification list -->
            <%- classificationList %>
            <!-- Table to display inventory items -->
            <table id="inventoryDisplay"></table>
            <!-- Display message if JavaScript is disabled -->
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inventory.js"></script>
</div>