<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <h1>
            <%= title %>
        </h1>
    </header>
    <main>
        <div class="error-message">
            <p>
                <%= message %>
            </p>
            <!-- add humor here -->
            <p>But don't worry, we're working on it!</p>
        </div>
    </main>
</body>

</html>